<div class="login-wrapper">
  <!-- LADO DA IMAGEM -->
  <div class="image-side">
    <img src="https://img.freepik.com/fotos-gratis/vacas-pastando-na-natureza_23-2150454976.jpg" alt="Rural">
  </div>

  <!-- LADO DO LOGIN -->
  <div class="login-form" [formGroup]="loginForm">
    <mat-card class="login-card">
      <p>Entrar</p>
        
        <!-- Email -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input 
            matInput 
            type="email" 
            required 
            email
            formControlName="email">
        </mat-form-field>

        <!-- Senha -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha</mat-label>
          <input 
            matInput 
            type="password" 
            required
            formControlName="password">
        </mat-form-field>

        <div *ngIf="erro" class="input-error">
          <span class="error-icon">&#9432;</span> {{ erro }}
        </div>


       <!-- Botão de entrar -->
       <div class="button" (click)="login()" [class.botao-desativado]="loginForm.invalid">
         Entrar
       </div>


       <!-- Botão de checkbox/marcar -->
       <div class="checkbox-container">
         <input type="checkbox">
         <span>Manter-me conectado</span>
       </div>

    </mat-card>
  </div>
</div>


<div class="app-footer">
  <p>© 2026 - Todos os direitos 
    <a href="https://sidagro-dev.dac.ufla.br/home" target="_blank">reservados</a>.
  </p>
</div>

