<div class="login-wrapper">
  <!-- LADO DA IMAGEM -->

    <img
    src="https://img.freepik.com/fotos-gratis/vacas-pastando-na-natureza_23-2150454976.jpg"
    alt="Ilustração de login"
  />


  <!-- LADO DO LOGIN -->
  <div class="login-form">
    <mat-card class="login-card">
      <h2>Entrar</h2>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password">
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width">
        Entrar
      </button>
    </mat-card>
  </div>
</div>

<footer class="app-footer">
  <p>© 2026 - Todos os direitos reservados.</p>
</footer>
