.login-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #c4e1e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1;
  background: linear-gradient(to bottom, #208538 50%, #f5f5f5 50%);
}

.login-wrapper img {
  height: 400px;
  border-radius: 10px;
}


.login-card {
  width: 350px;
  height: 400px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.app-footer {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  background-color: #f5f5f5; 
  color: #555;
  font-size: 14px;
  position: absolute; 
  bottom: 0;
  left: 0;
}
